<!DOCTYPE html>
{% if page.lang == "it" %}
<html lang="it_IT">
{% else %}
<html lang="en_GB">
{% endif %}
  
{% include head.html %}
  
<body>
    <div class="wrapper-masthead">
        <div class="container">
        <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
              {% if page.url == "/" %}
              <b><u><a href="{{ site.baseurl }}/">Home</a></u></b>
              {% else %}
              <a href="{{ site.baseurl }}/">Home</a>
              {% endif %}

              {% if page.url == "/blog/" %}
              <b><u><a href="{{ site.baseurl }}/blog/">Blog</a></u></b>
              {% else %}
              <a href="{{ site.baseurl }}/blog/">Blog</a>
              {% endif %}
            
            {% if page.url == "/about/" %}
            <b><u><a href="{{ site.baseurl }}/about/">About</a></u></b>
            {% else %}
            <a href="{{ site.baseurl }}/about/">About</a>
            {% endif %}
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
  </body>
</html>
